<template>
  <ion-page>
    <ion-header>

      <!-- // Toolbar -->
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button default-href="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Créer une nouvelle tâche</ion-title>
      </ion-toolbar> <!-- Fin Toolbar -->

    </ion-header> 
    <ion-content padding>
      <!-- // Input add -->
      <div class="pb-4">
        <ion-item>
          <ion-label position="fixed">
            <p>Titre :</p>
          </ion-label>
          <ion-input @ionInput="newTodo.title = $event.target.value;" :value="newTodo.title"></ion-input>
          <ion-button @click="add(newTodo)" color="primary">Créer</ion-button>
        </ion-item>
      </div> <!-- Fin input add -->

      <!-- // Textarea description -->
      <div class="pb-4">
        <ion-item>
          <ion-textarea @ionInput="newTodo.description = $event.target.value;" :value="newTodo.description" rows="5" placeholder="Description de votre nouvelle tâche..."></ion-textarea>
        </ion-item>
      </div> <!-- // Fin textarea description -->

      <!-- // Grid images -->
      <div v-if="photos.length" class="grid-photos mx-auto">
        <!-- // Item image -->
        <div v-for="photo in photos" :key="photo.key" class="diapo">
          <div @click="selectPhoto(photo)">
            <img :src="photo.url" height="86" width="86" alt="image">
            <transition enter-active-class="animated zoomIn" leave-active-class="animated zoomOut">
              <div v-if="photo.selected" class="diapo-selected d-flex justify-content-center align-items-center">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </div>
            </transition>
          </div>
        </div> <!-- // Fin Item image -->
      </div> <!-- Fin Grid images -->

      <!-- // Button Camera -->
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button @click="takePicture()">
          <ion-icon name="camera" />
        </ion-fab-button>
      </ion-fab> <!-- // Fin Button Camera -->

      <!-- // Button Save -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button @click="add(newTodo)">
          <ion-icon name="save" />
        </ion-fab-button>
      </ion-fab> <!-- // Fin Button Save -->

      <!-- // Alert Bootstrap -->
      <transition enter-active-class="animated bounceInRight" leave-active-class="animated bounceOutLeft">
        <div v-if="dismissCountDown" class="position-absolute fixed-bottom">
          <b-alert
            class="m-0"
            :show="dismissCountDown"
            dismissible
            variant="warning"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
          >
            <p>Veuillez définir un titre avant...</p>
            <b-progress
              variant="warning"
              :max="dismissSecs"
              :value="dismissCountDown"
              height="3px"
            ></b-progress>
          </b-alert> <!-- // Fin Alert Bootstrap -->
        </div>
      </transition>

    </ion-content>
  </ion-page>
</template>

<script>

import { Plugins, CameraResultType } from '@capacitor/core';
const { Camera } = Plugins;

export default {
  name: "item",
  data() {
    return {
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      newTodo: {
        title: null,
        photos: [],
        description: null
      },
      photos : [
        {
          key: `photo-1`,
          url: "https://i.picsum.photos/id/605/200/300.jpg",
          selected: false
        },
        {
          key: `photo-2`,
          url: "https://i.picsum.photos/id/605/200/300.jpg",
          selected: false
        },
        {
          key: `photo-3`,
          url: "https://i.picsum.photos/id/605/200/300.jpg",
          selected: false
        },
        {
          key: `photo-4`,
          url: "https://i.picsum.photos/id/605/200/300.jpg",
          selected: false
        },
        {
          key: `photo-5`,
          url: "https://i.picsum.photos/id/605/200/300.jpg",
          selected: false
        }
      ]
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    add: function(newTodo) {
      if (newTodo.title !== null) {
        this.$store.commit('addTodo', newTodo)
        this.$router.push({ name: 'home' })
      }
    },
    takePicture: async function() {
      const image = await Camera.getPhoto({
        quality: 90,
        allowEditing: false,
        resultType: CameraResultType.Uri
      })

      var imageUrl = image.webPath 

      this.photos.push({ 
        key: `photo-${this.photos.length}`,
        url: imageUrl,
        selected: false
      })
    },
    selectPhoto: function(photo) {
      if (this.newTodo.title !== null) {
        this.newTodo.photos.push(photo)
        photo.selected = photo.selected ? false : true
      } else {
        this.dismissCountDown = this.dismissSecs
      }
    }
  }
};
</script>

<style lang="scss" scoped>

.diapo {
  position:relative;
  height:86px;
  width:86px;
}

.diapo-selected {

  ion-icon[name="checkmark-circle-outline"] {
    color: rgba(255,255,255,0.50);
    font-size: 35px;
  }

  backdrop-filter: blur(1px);
  animation-duration: 0.2s;
  margin:0;
  background: rgba(0,0,0,0.30);
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top: 0;
}

  .grid-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    justify-items: center;
  }

</style>