<template>
    <ion-page>
        <ion-header> <!-- Header -->

        <!-- // Toolbar -->
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button default-href="/"></ion-back-button>
            </ion-buttons>
            <ion-title>{{todo.title}}</ion-title>
        </ion-toolbar> <!-- Fin Toolbar -->

        </ion-header>
        <ion-content padding> <!-- Content -->

            <ion-text>
                <p>{{todo.description}}</p>
            </ion-text>

            <b-carousel>
                <div v-for="photo in todo.photos" :key="photo.key">
                    <b-carousel-slide :img-src="photo.url"></b-carousel-slide>
                </div>
            </b-carousel>

        </ion-content>
    </ion-page>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'DetailPage',
    computed: {
        todo() {
            return this.$store.getters.getTodo(
                this.$router.currentRoute.params.id
            )
        }
    }
}
</script>

<style>

</style>