<template>
  <ion-page>
    <ion-header> <!-- Header -->
      <ion-toolbar color="primary">
        <ion-title>Ma liste de tâches</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding> <!-- Content -->

      <!-- // Todo List -->
      <ion-list>
          <div v-for="todo in todoList" :key="todo.id">
            <TodoItem :todo="todo"></TodoItem>
          </div>
      </ion-list>

      <!-- // Button Add -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button @click="$router.push({ name: 'add' })">
          <ion-icon name="add" />
        </ion-fab-button>
      </ion-fab>

    </ion-content>
  </ion-page>
</template>

<script>

import { mapState } from 'vuex';
import TodoItem from "@/components/TodoItem.vue";

export default {
  name: 'HomePage',
  props: {
    msg: String
  },
  methods: {
    
  },
  computed: {
    ...mapState(['todoList'])
  },
  components: {
    TodoItem
  }
}
</script>

<style lang="sass" scoped>

</style>
