<template>
    <ion-item-sliding>
        <ion-item-options side="start">
            <ion-item-option @click="$router.push({ name: 'detail', params: {id: todo.id} })" color="tertiary" expandable>
                Détail
            </ion-item-option>
        </ion-item-options>

        <ion-item>
            <ion-label>{{todo.title}}</ion-label>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option @click="deleteTodo(todo)" color="danger" expandable>
                Supprimer
            </ion-item-option>
        </ion-item-options>

    </ion-item-sliding>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
    name: "TodoItem",
    props: {
        todo : Object
    },
    methods: {
        ...mapMutations(['deleteTodo'])
    }
}
</script>

<style lang="scss" scoped>
    ion-button {
        padding-right: 20px;
    }
</style>
