<template>
  <div id="app">
    <ion-app>
      <ion-vue-router />
    </ion-app>
  </div>
</template>

<script>

import { add, trash, camera, checkmarkCircleOutline, save } from "ionicons/icons"
import { addIcons } from "ionicons"

addIcons({
  "ios-add": add.ios,
  "md-add": add.md,
  "ios-save": save.ios,
  "md-save": save.md,
  "ios-trash": trash.ios,
  "md-trash": trash.md,
  "ios-camera": camera.ios,
  "md-camera": camera.md,
  "ios-checkmark-circle-outline": checkmarkCircleOutline.ios,
  "md-checkmark-circle-outline": checkmarkCircleOutline.md 
})


export default {
  name: "app"
}
</script>

<style lang="scss">

</style>
